table
tbody
tr
  width: 100%

.highlight
  margin-left: .5rem
  margin-right: .5rem

//pre
//  overflow: auto;
pre code
  white-space: pre !important
  white-space: pre-wrap
  word-wrap: break-word


blockquote
  border-left 3px solid color-meta
  margin 20px 0 10px
  padding 0 0 0 13px
  text-align left
