
.archive_container
  margin-top: 2rem
  margin-bottom: 2rem

.archive_tip
  font-size: 2rem
  color: color-link
  border-left 0.3rem solid color-meta
  padding 0 0 0 13px
  margin-top: 3rem
  
.category-count
.archive-list-count
  &:before
    content: '('
    padding-left: 0.3rem
  &:after
    content: ')'

.archive_title
  margin-top: 0.8rem
  font-size: 1.5rem

.archive_detail
  flex_ctn()
  vendor(justify-content, space-between)

.extend
.page-number
  font-size: 1.5rem
  margin-left: 0.3rem
  margin-right: 0.3rem

// center
.archive_page
  text-align: center
  width: 100%
  
.extend
  &.prev
    float: left
  &.next
    float: right

.tag-link
.category-link
  margin-left: 0.3rem
