
html
  font-size: 100%;

body
  flex_ctn()
  vendor(justify-content, center)
  vendor(align-items, center)
  // font
  color color-font
  font-family font-default
  text-shadow 0 0 1px transparent

a
  text-decoration: none
  color: color-link
  &:hover
    text-decoration underline

.container
  width: 65%
  min-width: 18rem

.banner
  font-size: 3rem
  .site-subtitle
    font-size: 1rem
