
html
  font-size: 100%;

body
  flex_ctn()
  vendor(justify-content, center)
  vendor(align-items, center)
  // font
  font-size: 14px;
  color color-font
  font-family font-default
  text-shadow 0 0 1px transparent

a
  text-decoration: none
  color: color-link
  &:hover
    text-decoration underline

.container
  width: 65%
  min-width: 18rem

.banner
  flex_ctn()
  vendor(justify-content, space-between)
  vendor(align-items, center)
  //vendor(flex-direction, row-reverse)
  font-size: 2rem
  margin-top: 1rem
  .site-subtitle
    font-size: 1rem
  .banner-right
    font-size: 1.5rem
  .banner-item
    margin-left: 0.3rem
