<div class="banner">
    <span class="site-title"> <a href="<%- url_for() %>" id="logo"><%= config.title %></a> </span>

    <% if (theme.subtitle){ %>
    <span class="site-subtitle"> <%= theme.subtitle %> </span>
    <% } %>
</div>
